/* <!-- start aboutus section  --> */
.about-us-left-side{
    background: #f9f9f9;
    min-height: 370px;
   /* margin-top: 80px; */
   float: left;
   margin-left: 5px;
}
.about-us-left-side h4{
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 10px;
    font-size: 18px;
    padding: 13px;
    color: #5b5b5b;
}
.about-us-left-side p{
    padding: 13px;
    font-size: 15px;
    line-height: 32px;
    color: #747474;
}
.about-us-left-side a{
   padding: 13px;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    float: left;
    margin-left: 17px;
    transition: .5s ease;
}
 .about-us-left-side a:hover{
    border-radius: 0 8px 8px 8px;
    color: rgb(0, 0, 129);
 }
 /* .about-us-right-side{
   min-height: 350px;
 }  */
 .about-us-right-side img{
    left: 20px;
    height: 370px;
 }
@media screen and (max-width:992px){
    .about-us-right-side{
        display: none;
    }
    .about-us-left-side{
        width: col-md-12;
    }
}
