 .overflow-x-hidden {
  overflow-x: hidden !important;
}
 /* <!-- start faq section -->  */
 .faq-section-bg{
    background-image: url(../img/img.bc.jpg);
    min-height: 600px;
    /* background-repeat: no-repeat; */
 }
 .faq-section-wrapper .faq-right-side{
     box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05)!important;
     /* height: 310px; */
     background-color: #fff;
     padding: 42px 35px;
     margin-left: 20px;
     margin-top: 130px;
 }
 .faq-section-wrapper .faq-right-side h6{
font-size: 15px;
margin-bottom: 5px;
 }
  .faq-section-wrapper .faq-right-side h6 i{
    font-size: 25px;
    margin-left: 13px;
    color:  #8787ff;
  vertical-align: -6px;
}
  .faq-section-wrapper .faq-right-side p{
    font-size: 15px;
    padding-top: 5px;
   /* margin-bottom: 55px; */
  margin: 10px 39px 0 0;
    color: #9c9797;
  /* display: inline-block; */
}
 .faq-section-wrapper .faq-left-side{
     margin-top: 130px;
 }
  .faq-section-wrapper .faq-left-side .tabs{
    /* border-radius: 8px; */
    /* background-color: #ffc412; */
    overflow: hidden;
    box-shadow: 1px 5px 15px 2px rgba(61, 94, 210, 0.05)!important;
  }
    .faq-section-wrapper .faq-left-side .tab{
      color: #fff;
      overflow: hidden;
    }
 .faq-section-wrapper .faq-left-side .tab-label {
  padding: 12px;
   background-color: #8787ff;
/* width: 100%; */
  cursor: pointer;
  display: block;
  font-size: 18px;
  transition: .5 ease;
 }
  .faq-section-wrapper .faq-left-side .tab-label:hover{
background-color: #6b6bff; 
}
 .faq-section-wrapper .faq-left-side .tab-label::after{
  content: '\276f';
  /* width: 16px;
  height: 16px; */
  text-align: center;
  float: left;
  /* background-color: #000; */
  transition: .4s;
  padding: 2px 0 0 0;
 }
   .faq-section-wrapper .faq-left-side .tab-content{
    height: 0px;
    background-color: #fff;
    transition: .5s ease;
    /* padding: 10px; */
    color: #616161;
    font-size: 16px;
  }
   .faq-section-wrapper .faq-left-side input:checked ~ .tab-content{
    height: 75px;
    padding: 10px 10px;
    overflow-y: scroll;
   }
   .faq-section-wrapper .faq-left-side input:checked + .tab-label::after{
    transform: rotate(-90deg);
   }
   .faq-section-wrapper .faq-left-side input{
    display: none;
   }